<main>
    <svg xmlns="http://www.w3.org/2000/svg" width="153" height="106.671" viewBox="0 0 153 106.671">
        <g id="Group_2" data-name="Group 2" transform="translate(-118.5 -200.329)">
            <text id="istudent" transform="translate(118.5 295)" fill="#00d19f" font-size="37" font-family="Goldplay-Bold, Goldplay" font-weight="700"><tspan x="0" y="0">i</tspan><tspan y="0" fill="#000">student</tspan></text>
            <path id="ic_payment_24px" d="M46.142,4H6.9a4.867,4.867,0,0,0-4.88,4.9L2,38.333a4.888,4.888,0,0,0,4.9,4.9H46.142a4.888,4.888,0,0,0,4.9-4.9V8.9A4.888,4.888,0,0,0,46.142,4Zm0,34.333H6.9V23.619H46.142Zm0-24.523H6.9V8.9H46.142Z" transform="matrix(0.883, -0.469, 0.469, 0.883, 159.993, 220.763)"/>
        </g>
    </svg>
        
    <div class="col-lg-3 col-10">
        <form class="login pt-3 w-100" action="" method="POST">
            <p class="mb-2 text-danger text-center">
                <small>
                    {{error}}
                </small>
            </p>
            <div class="mx-auto">
                <input type="text" name="username" placeholder="Username">
            </div>
            <div class="mx-auto">
                <input type="password" name="password" placeholder="Password">
            </div>
            <div class="col-lg-8 col-8 mx-auto">
                <button type="submit">LOGIN</button>
            </div>
        </form>
    </div>
</main>