<main>
    <svg xmlns="http://www.w3.org/2000/svg" width="153" height="106.671" viewBox="0 0 153 106.671">
        <g id="Group_2" data-name="Group 2" transform="translate(-118.5 -200.329)">
            <text id="istudent" transform="translate(118.5 295)" fill="#00d19f" font-size="37" font-family="Goldplay-Bold, Goldplay" font-weight="700"><tspan x="0" y="0">i</tspan><tspan y="0" fill="#000">student</tspan></text>
            <path id="ic_payment_24px" d="M46.142,4H6.9a4.867,4.867,0,0,0-4.88,4.9L2,38.333a4.888,4.888,0,0,0,4.9,4.9H46.142a4.888,4.888,0,0,0,4.9-4.9V8.9A4.888,4.888,0,0,0,46.142,4Zm0,34.333H6.9V23.619H46.142Zm0-24.523H6.9V8.9H46.142Z" transform="matrix(0.883, -0.469, 0.469, 0.883, 159.993, 220.763)"/>
        </g>
    </svg>
        
    <div class="col-lg-3">
        <form id="vm-form" class="login pt-4">
            <div class="col-12 mx-auto">
                <div class="box">
                    <input type="text" name="confirmID" placeholder="Confirmation ID">
                    <button type="submit" style="border-radius: 0 5px 5px 0;">
                        <i class="fa fa-search" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
        </form>

            <p class="text-center my-2">
                <strong class="col-green">OR</strong>
            </p>
            
            <div class="mx-auto">
                <a class="scan-btn" href="/qr-scanner">
                    <svg style="transform: scale(.8);" xmlns="http://www.w3.org/2000/svg" width="31.778" height="26" viewBox="0 0 31.778 26">
                        <path id="ic_flip_24px" d="M20.333,29.889h2.889V27H20.333Zm5.778-17.333H29V9.667H26.111ZM3,6.778V27a2.9,2.9,0,0,0,2.889,2.889h5.778V27H5.889V6.778h5.778V3.889H5.889A2.9,2.9,0,0,0,3,6.778ZM26.111,3.889V6.778H29A2.9,2.9,0,0,0,26.111,3.889ZM14.556,32.778h2.889V1H14.556Zm11.556-8.667H29V21.222H26.111ZM20.333,6.778h2.889V3.889H20.333Zm5.778,11.556H29V15.444H26.111Zm0,11.556A2.9,2.9,0,0,0,29,27H26.111Z" transform="translate(32.778 -3) rotate(90)" fill="#fff"/>
                    </svg>                          
                    <span class="ps-3">Scan QR Code</span>
                </a>
            </div>
    </div>
</main>

<script src="https://kit.fontawesome.com/19c10749f8.js" crossorigin="anonymous"></script>